 <form class="example-form" [formGroup]='userForm'>
    <mat-card class="demo-card demo-basic">
      <mat-toolbar color="primary">Subtitle synchronizer / translator</mat-toolbar>
      <mat-card-content>
            this page allows you to correct the subtitles if they are early or late, or even early at the beginning of the video and late at the end. You can also change the language and a translation with the Yandex API will be done.
        <div class="form-group">
            Enter the time you heard the first word, the format is hour:minute:seconde,milliseconde
            <app-srt-time-input 
                [formGroup]="userForm"
                [argsSrtTime]="argsSrtTime('audio_time','Audio Time')"
                required
            >                
            </app-srt-time-input>
            Enter the time you saw the first word in subtitles
            <app-srt-time-input 
                [formGroup]="userForm"
                [argsSrtTime]="argsSrtTime('srt_time','Srt time')"
                required
            >                
            </app-srt-time-input>
            Optionaly Enter the time your heard an other word, if you think the speed of subtitles are different of the speed of the video
            The more time there is between 'audio time' and 'audio time 2' the better will be the synchronisation
             <app-srt-time-input 
                [formGroup]="userForm"
                [argsSrtTime]="argsSrtTime('audio_time_2','Audio time 2')"
            ></app-srt-time-input>
            Enter the time your saw this same word in subtitles
            <app-srt-time-input 
                [formGroup]="userForm"
                [argsSrtTime]="argsSrtTime('srt_time_2','Srt time 2')"
            ></app-srt-time-input>

            If you don't need translation let target or source empty<br>
            <div class="form-group row" style="display: flex;flex-wrap: wrap">
                <div class="padding_around col-sm-12 col-md-6"  style="">
                    <mat-form-field style="width:100%">
                        <mat-label>Select an target language</mat-label>
                        <mat-select name="source_lang" 
                          formControlName="source_lang">
                          <mat-option >
                          Do not translate
                          </mat-option>
                        <mat-option *ngFor="let lang of langs" [value]="lang.val">  {{lang.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6" >
                    <mat-form-field style="width:100%">
                        <mat-label>Select an source language</mat-label>
                        <mat-select name="target_lang" 
                          formControlName="target_lang">
                          <mat-option>Do not translate</mat-option>
                          <mat-option  *ngFor="let lang of langs" [value]="lang.val">{{lang.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="fakeMatError col-sm-12" *ngIf="getFirstErrorMessageLang(), let errorLang">
                            {{errorLang}}    
                </div>
            </div>
            <!--https://ackerapple.github.io/angular-file/--> 
                            <!-- [accept] = "srt"  -->
      
            <div 
                [class.dropable_zone]="true"
                [class.form-group]="true"
                ngfDrop multiple="1" selectable="1" 
                [(validDrag)]="baseDropValid"
                [maxSize] = "500 * 1024" 
                uploader="uploader"
                [(files)]="files"  [maxSize]="maxSize" 
                [(lastInvalids)]="lastInvalids"
                [(dragFiles)]="dragFiles" class="well my-drop-zone" 
                [class.invalid-drag]="baseDropValid===false" 
                [class.valid-drag]="baseDropValid" 
                (filesChange)="filesChange()">
                <div>
                    <div *ngIf="dragFiles">
                        {{ dragFiles.length }} file(s) will be add on drop
                        <p *ngIf="!dragFiles.length" style="color:red;">
                            Your browser do not support drag and drop
                        </p>
                    </div>
                    <div *ngIf="!dragFiles">
                        Drag and drop files here or click here<br>
                        Please only send files with '.srt' extension otherwise it will not work (not yet controlled in the algorithm)

                        We support UTF8 and window1252 encoding.
                    </div>
                    <br><br>
                </div>
                <div class="action_on_drop" 
                    (click)="$event.stopPropagation();false">
                    <ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>
                    <ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>

                    <div class="bg-warning" *ngIf="lastInvalids?.length" style="margin-bottom: 40px" >
                        <h3 style="color:red;">Last {{ lastInvalids.length }} Invalid Selected Files</h3>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Error</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lastInvalids;let i=index">
                                    <td>
                                        <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.file.type)>=0">
                                        <div class="previewIcon" [ngfBackground]="item.File"></div>
                                        </div>
                                        <strong>{{ item.file.name }}</strong>
                                    </td>
                                    <td nowrap>
                                        {{ item.type }}
                                    </td>
                                    <td nowrap>
                                        {{ item.file.type }}
                                    </td>
                                    <td nowrap>
                                        {{ item.file.size/1024/1024 | number:'.2' }} MB
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" (click)="lastInvalids.splice(i,1)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="margin-bottom: 40px">
                        <h3>{{ files.length }} Queued Files</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of files;let i=index">
                                    <td>
                                        <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                            <div class="previewIcon" [ngfBackground]="item"></div>
                                        </div>
                                        <strong>{{ item.name }}</strong>
                                    </td>
                                    <td nowrap>
                                        {{ item.type }}
                                    </td>
                                    <td nowrap>
                                        {{ item.size/1024/1024 | number:'.2' }} MB
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <div>
                                Upload progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                                </div>

                                Server side progress: (works only if you don't upload multiple files)
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress_server + '%' }"></div>
                                </div>
                            </div>

                            <ng-container *ngIf="lastFileAt">
                                <p>
                                    <strong>Last file(s) selected At:</strong> {{ lastFileAt | date : 'longTime' }}
                                </p>
                            </ng-container>

                            <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>

                            <button type="button" class="btn btn-success btn-s btn_space" (click)="uploadFiles(files)" [disabled]="this.userForm.invalid || !files.length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s btn_space" (click)="cancel()" [disabled]="!httpEmitter">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s btn_space" (click)="files.length=0;" [disabled]="!files.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
         <div class="download">
            <a [href]="server_download_files?.zip" target="_blank">
            {{server_download_files?.zip}}</a>
        </div>

     

      </mat-card-content>
      
    </mat-card> 


 
</form>