<!doctype html>
<html lang="en">
<head>
  <!-- <?= base ?> -->
  <meta charset="utf-8">
  <title>DisplayTable</title>
  <script type="text/javascript">
  var global = global || window;
  ;(function(){
    var b = document.createElement('base')
    if('<%= root_path %>'.indexOf('>') < 0){
      b.href = '<%= root_path %>'
    }else{
      b.href = '/'
    }
    document.head.append(b)
  })()
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
   <app-root></app-root>
</body>
</html>



