
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

//root path
@import '~./gulp_info.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$display-table-primary: mat-palette($mat-indigo);
$display-table-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$display-table-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$display-table-theme: mat-light-theme($display-table-primary, $display-table-accent, $display-table-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($display-table-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 15px;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming'; // Plus imports for other components in your app. // Include the common styles for Angular Material. We include this here so that you only // have to load a single css file for Angular Material in your app. // Be sure that you only ever include this mixin once! @include mat-core(); // Define the palettes for your theme using the Material Design palettes available in palette.scss // (imported above). For each palette, you can optionally specify a default, lighter, and darker // hue. Available color palettes: https://material.io/design/color/ $candy-app-primary: mat-palette($mat-indigo); $candy-app-accent: mat-palette($mat-pink, A200, A100, A400); // The warn palette is optional (defaults to red). $candy-app-warn: mat-palette($mat-red); // Create the theme object (a Sass map containing all of the palettes). $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn); // Include theme styles for core and each component used in your app. // Alternatively, you can import and @include the theme mixins for each component // that you are using. @include angular-material-theme($candy-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './Styles/glyphicons.scss';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype')
      ,url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2')
      ,url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff')
      ,url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype')
      ,url( $root_path + 'assets/Fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.mat-form-field-infix{
  padding: 0 !important;
}

.action_on_drop{
	background: white;
	padding:15px;
	border-radius: 25px 25px;
}
.my-drop-zone{
	background: #F8F8F8
}
.mat-form-field-subscript-wrapper{
    margin-top: 0 !important
  }

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mat-error.mat-error{
  display: none;
}

mat-error.mat-error, .fakeMatError{
	font-size: 11px;
	line-height: 15px;
  color: red;
	//only show the first error
	&:first-child {
	  display: block;
	}
}


  .form-control{
    height: 29px !important;
  }


 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    padding: 0;
}

.mat-drawer-content.mat-sidenav-content{
  overflow: visible;
  overflow-y: visible;
}