 <mat-form-field [formGroup]="formGroup" class="demo-full-width">
    <mat-label>
        {{label}} {{this.formGroup.hasError('toto') ? 'true' : 'false'}}
    </mat-label>
    <input name="{{formControlName}}" matInput 
        formControlName="{{formControlName}}"  
        class="form-control" [required]="required"
        (change)="onValueChanged"
		[errorStateMatcher]="errorMatcher"/>
   <mat-error *ngIf="getFirstErrorMessage();let errorMessage">
        {{errorMessage}}
    </mat-error>
</mat-form-field>
        <!-- pattern="\d{2}:\d{2}:\d{2},\d{3}" -->
