<mat-toolbar color="primary">
  	<div fxHide.gt-xs>
      <button mat-icon-button  (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
   
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='comp2'>Useless page</a>
      <a mat-list-item routerLink='form'>Srt corrector / translator</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>